@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

@font-face {
  font-family: "CustomFont"; /* Ensure this matches */
  src: url("/fonts/HelveticaNeueHeavyItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Define Tailwind Utility */
.font-custom {
  font-family: "CustomFont", sans-serif;
}
